body
{
    box-sizing: border-box;
    background-color: rgb(87, 127, 26);
    margin: 0;
}
.mb-3
{
    position:relative;
    left:30px;
    display:flex;
    flex-direction: column;
    width: 180px;    
}
.form-control
{
    border-radius: 6px;
    width: 100%;
    height: 20px;
    opacity: 0;

}
.heart-btn
{
    position: absolute;
    transform: translate(10%,-15%);
    
    
    
}
.comment
{
    position:absolute;
    background: url(/Proyecto-LM/img/comentari-boton.jpg) no-repeat;
    height: 90px;
    width: 90px;
    background-size: 60%;
    top: 0;
    left: 75%;
    opacity: 0.6;
}
.comment:focus 
{
    opacity: 0.7;
}
textarea
{
    position: absolute;
}
.content
{
    position: relative;
    border: 2px solid rgb(250, 73, 73); 
    padding:  18px 75px;
    border-radius: 5px;
    right: 6%;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.content .heart{
    height: 60px;
    width: 90px;
    background: url(/Proyecto-LM/img/img.jpg) no-repeat;
    background-position: left ;
    background-size: 2900%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
}
.content:hover
{
    background-position: right;
    animation: animate 0.8s steps(28) 1;
}
@keyframes animate {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
    
}
.like
{
    margin-left: 20px;
    font-size: 25px;
    font-family:'Montserrat',sans-serif;
    color:rgb(185, 115, 115);
}
.numb:before{
    content: '12';
    font-size: 21px;
    font-weight: 600;
    font-family: sans-serif;
    color: #9C9496;
    margin-left: 7px;
}


input{
    position: relative;
    left: 30px;
    margin: 3px;
    background-color: chartreuse;
    border-radius: 8px;
    border:1px black solid;
    cursor: pointer;
    
}
.caja1
{    
    display: flex;
    outline: 1px black solid;
    width: 240px;
    height: 270px;
    margin: 10px;    
    flex-direction: column; 
    background-color: rgb(13, 94, 245);  
    border-radius: 1px; 
}
.contenedor
{
    margin: 120px;
    transform: scale(1.5);


}
.publicador
{
   text-align: right;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
a
{
    text-decoration: none;
    color: white;
}
.cajalogo
{
    margin: 10px;

}
header
{
    min-height: 20vh;
    min-width: 280px;
    background-color: rgba(0, 0, 0, 0.849); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Nombreweb
{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 10px;
}
.logo
{
    display: block;
    height: 100px;
    width: 100px;
}
p
{
    margin: 2px;
    text-align: justify;
    font-family:Arial, Helvetica;
}
img
{
    height: 200px;
    width: 240px;
    transition: transform 2s;
    border-radius: 5px;
    
}
img:hover
{
    transform: scale(1.1) translate(5px, -20px);
    
    
    
}
main
{
    position: static;
    min-height: 60%;     
}
footer
{
    min-height: 20vh;
    background-color: rgba(0, 0, 0, 0.847);
}
form
{
    position: relative;
    margin: 30px auto;
    min-height: 480px;
    width: 100%;
    background-color: rgb(255, 255, 255);
   
    display: flex;
    flex-direction: column;
    align-items: center;
}